/* #container {
} */

.ReactModal__Overlay {
  opacity: 1;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
  animation: back .4s, bounce .6s;
  /* animation: back .2s; */
  /* background: rgba(0, 0, 0, 0.7); */
}

@keyframes back {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 5, 0.7);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(35%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  75% {
    transform: translateY(1%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0%);
    animation-timing-function: ease-in;
  }
}

.ReactModal__Overlay--before-close {
  opacity: 1;
  transform: translateX(-100px);
}

.modal {
  padding: 0px;
  height: 100%;
  width: 100%;
  /* overflow: hidden;
  white-space: nowrap; */
  display: flex;
  overflow-x: auto;
}

#icon {
  z-index: 10;
  position: absolute;
  right: 8px;
  top: 8px;
  opacity: .7;
  cursor: pointer;
}

.xiconspin {
  animation: spin .3s;
}

.xiconunspin {
  animation: unspin .3s;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(90deg);
  }
}

@keyframes unspin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(-90deg);
  }
}

#rightArrowDiv{
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  right: 18px;
  top: 50%;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  cursor: pointer;
}

.rightChevron {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-10px;
  margin-top:-.5px;
}

#leftArrowDiv{
  z-index: 10;
  position: absolute;
  left: 18px;
  top: 50%;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  cursor: pointer;
}

.leftChevron {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-10px;
  margin-top:-.5px;
}

#carouselDots {
  z-index: 10;
  position: absolute;
  left: 45%;
  bottom: 10px;
}

#dotsTable {
  table-layout: fixed;
}

#dotsTable td {
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.selectedDot {
  margin: -5px 0 0 0;
  overflow: hidden;
  transition: transform 1s ease;
  transform: scale(2.0);
}

.unSelectedDot {
  transition: transform .5s ease;
  transform: scale(1.0);
}

.bigDot {
  opacity: .7;
  margin: -5px;
}

.dot {
  opacity: .7;
  margin: -5px;
  transition: 0s;
}

img {
  height: 100%;
  width: 100%;
}

.slider {
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* scroll-snap-points-x: repeat(100%); */
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

a {
  color: inherit;
  text-decoration: inherit;
}